@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    Il valore della mia chiave segreta è: <b>@Model._configuration["segreto"]</b>
    <br />
    Data: @Model._configuration["data"]
    <br />
    Numero: @Model._configuration["numero"]
    <br />
    Parola: @Model._configuration["parola"]
    <br />
    Booleano: @Model._configuration["booleano"]
    <br />
</div>
