@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    Il valore della mia chiave segreta è: <b>@Model._configuration["segreto"]</b>
    <br />
    <br />

    
</div>


<div class="alert-danger">
    I seguenti parametri NON sono tipizzati, vengono tutti letti come stringhe.
    NON ho l'assistenza dell'intellisense in Visual Studio quando li richiamo e li uso.
    <br />
    Non posso fare affidamento sui valori inseriti.
    <br />
    Potrei mettere una stringa al posto della data o del booleano e avrei un errore solo a runtime.
    <br /><br />
    <b>Data:</b> @Model._configuration["data"]
    <br />
    <b>Numero:</b> @Model._configuration["numero"]
    <br />
    <b>Parola:</b> @Model._configuration["parola"]
    <br />
    <b>Booleano:</b> @Model._configuration["booleano"]
    <br />
</div>

<div class="border-info">
    <h2>Obiettivo</h2>
    Leggere i dati di configurazione in maniera fortemente tipizzata.
</div>
